<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tool_manipulator">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import tool_manipulator urdf file -->
    <xacro:include filename="$(find tool_manipulator_description)/urdf/tool_manipulator.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="tool_manipulator.ros2_control.xacro" />


    <xacro:tool_manipulator_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
